<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Cloud Computing Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
        <h2>You have successfully completed "One Click Deployement" on IBM Cloud</h2>
        <!-- <p class="lead">Answer these multiple choice questions to earn goodies!</p> -->
        </div>
        <br/> 
        <center>
            <font size="+1">
          Start your cloud native here:
            <a href="https://developer.ibm.com/portals/hcl/">https://developer.ibm.com/portals/hcl/</a>
          </font>
        </center>
        <br/> 
        <center>
            <font size="+1">
            We look forward to see a cloud native developer in you!
          </font>
          </center>
        <br/> 
        <!-- <br/> -->
        <br/> 
      
        <!-- <br/> -->
        <!-- <br/> -->
      
 			</div>
      
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2019 IBM India Pvt Ltd</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
