<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
        <h2>IBM Developers Meetup - Quakrkus</h2>
        <!-- <p class="lead">Answer these multiple choice questions to earn goodies!</p> -->
        </div>
        <form method="POST" action="/quizsubmission">
        <p class="lead"></p>
        
        Enter your Email ID:<br/>    
        <input type="text" id="cloudemail" name="cloudemail" class="form-control" placeholder="Please enter your IBM Cloud Email ID" required>
        <br/>   
    
        1. Which of these is used to access member of class before object of that class is created?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="a"> public
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_1" id="quiz_1" value="b" required> static
        </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="quiz_1" id="quiz_1" value="c"> transient
          </label>
          </div>
        <div class="radio">
          <label>
          <input type="radio" name="quiz_1" id="quiz_1" value="d"> non-static
          </label>
          </div>
        <br/> 
          
        2. Which loop will execute atleast once even when testing condition is false?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="a" required> do-while loop
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_2" id="quiz_2" value="b"> for loop
        </label>
        </div>
        <div class="radio">
          <label>
          <input type="radio" name="quiz_2" id="quiz_2" value="c"> while loop
          </label>
          </div>
        <div class="radio">
          <label>
          <input type="radio" name="quiz_2" id="quiz_2" value="d"> for each loop
          </label>
          </div>
        <br/>
          
        3. Wrapping up of data and function into a single unit called class is known as?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="a" required> binding
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="b"> overriding
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="c"> serialization
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_3" id="quiz_3" value="d"> encapsulation
        </label>
        </div>
          
        4. Wrapping up of data and function into a single unit called class is known as?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="a"> equal()
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="b"> hashcode()
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="c"> finalize()
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_4" id="quiz_4" value="d" required> All of the above
        </label>
        </div>
        <br/>
        
          
        5. Can a java class be inherited by more than one class?<br/>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="a"> Yes
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="b" required> No
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="c"> Sometimes
        </label>
        </div>
        <div class="radio">
        <label>
        <input type="radio" name="quiz_5" id="quiz_5" value="d"> Depends upon JVM
        </label>
        </div>
        <!-- <br/> -->
        <br/> 
      
        <!-- <br/> -->
        <!-- <br/> -->
            <div class="checkbox">
            <label>
      		<input type="checkbox" name="interested" value="Yes" checked>&nbsp;IBM may use my contact data to keep me informed of products, services and offerings.
   			</label>
 			</div>
        <br/>
        <input type="submit" value="Submit Quiz" class="btn btn-primary btn-lg"/>
        </form>
      <br/><br/>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2020 IBM India Pvt Ltd</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="../public/javascripts/bootstrap.min.js"></script>
  </body>
</html>
